.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 350px;
}

.card-img {
  height: 200px;
  object-fit: contain; 
}

.card h3 {
  min-height: 48px;
}